footer {
    padding: 168px 0 30px;
    background: url('../images/bg-footer.jpg') center/cover no-repeat;
    position: relative;

    .my-container {
        position: relative;
        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: #fff;
            bottom: 53px;
            left: 0;
        }
    }

    .title {
        margin: 0;
        text-align: center;
        color: #fff;

        &::after {
            background-color: #fff;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    .wraper {
        margin-top: 85px;
        display: flex;
        justify-content: start;
        align-items: center;
    }

    .social-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 27px;
        height: 27px;
        background-color: #fff;
        margin-right: 9px;
        transition: .9s all;

        &:hover {
            text-decoration: none;
            background-color: #0084b4;
            color: #fff;
        }
    }

    .copiright {
        position: absolute;
        color: #fff;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.96px;
        bottom: 5px;
        left: 50%;
        transform: translateX(-50%);
    }
}